{% extends "base.html" %}
{% load static %}
{% block title%}Les Cartes (vue compacte){% endblock title %}
{% block content %}
<h1>Les Cartes en vue compacte</h1>

{% regroup card_list by batch as batch_list %}
{% for batch in batch_list %}
<h2>Lot {{ batch.grouper }}</h2>
<span class="text-muted">{{batch.list|length}} cartes rédigées</span>
<div class="row">

{% for card in batch.list %}

    <div class="card m-2" style="width: 44rem;">
        <div class="card-body">
            <h3 class="card-title"><a href="{% url 'cardfactory:card_detail' card.pk %}">{{card.title}}</a></h3>
        </div>  <!--card-body-->

    </div>{% endfor %} <!--card-->

</div> <!--row-->
<hr>
{% endfor %} <!--grouper-->
{% endblock content %}
