{% extends "base.html" %}
{% load static %}
{% block title%}Les Cartes{% endblock title %}
{% block content %}
<h1>Les Cartes</h1>

{% regroup card_list by lot as batch_list %}
{% for batch in batch_list %}
<h2>Lot {{ batch.grouper }}</h2>
<span class="text-muted">{{batch.list|length}} cartes rédigées</span>
<div class="row">
  <div class="col">
{% for card in batch.list %}

    <div class="card m-4" style="width: 44rem;">
        <div class="card-body">
            <h3 class="card-title">{{card.title}}</h3>
            <img class="card-img-top" src="{% get_media_prefix %}{{card.illustration}}" alt="{{card.illustation_footnote}}">
            <p class="card-text text-muted">{{card.illustation_footnote}}</p>
        </div>  <!--card-body-->
        <hr>
        <div class="card-body">
            <h3 class="card-title">{{card.title}}</h3>
        <p class="card-text">{{card.content|safe}}</p>
        </div> <!--card-body-->
        <div class="card-footer text-muted">Lot {{card.lot}}<a class="btn btn-warning float-right" href="{% url 'cardfactory:edit_card' card.pk %}">Modifier cette carte</a></div>
    </div>{% endfor %} <!--card-->
  </div> <!-- first col-->
  <div class="col">
    <h3>Filtrer par lot</h3>
    <ul class="list-group">
    {% for batch in batches_list %}

    <li class="list-group-item"><a href="{% url 'cardfactory:card_list_per_batch' batch.pk %}">Lot {{ batch }}</a></li>

    {% endfor %}
    </ul>
  </div> <!--second col-->

</div> <!--row-->
<hr>
{% endfor %} <!--grouper-->
{% endblock content %}
